.ProseMirror .is-editor-empty:first-child::before {
  @apply text-muted-foreground;
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
}

.ProseMirror .is-empty::before {
  @apply text-muted-foreground;
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
}
